mysite2env/*
*.pyc
*.pyo
__pycache__
migrations
__init__.py
.tags*
.fuse*
out.txt













# */*.pyc
# mysite2/*.pyc
# mysite2/__pycache__/*.pyc
# Generated/readme.txt
# xmlRules/*
# scrap.txt
# br*.txt
