mysite2env/*
*.pyc
*.pyo
__pycache__
migrations
__init__.py















# */*.pyc
# mysite2/*.pyc
# mysite2/__pycache__/*.pyc
# Generated/readme.txt
# xmlRules/*
# scrap.txt
# br*.txt
