{% comment %}
[<a href="https://www.reddit.com/r/{{i_muser.name}}">new</a>]
[<a href="http://localhost:8000/reddit/vanalysis/moderatorsOfSubreddit/{{i_muser.name}}">+ mods</a>]
[<a href="http://localhost:8000/reddit/vanalysis/poiUsersOfSubreddit/{{i_muser.name}}/200">+ poi</a>]
[<a href="http://localhost:8000/reddit/vthread/list/{{i_muser.name}}">threads</a>]

{{i_muser.pcommentsupdatetimestamp|date:'m/d H:i'}}
&nbsp;#NoChngs:
&nbsp;Pri:
{{i_muser.pprioritylevel}},
&nbsp;New:
{{i_muser.pcountnew}},
&nbsp;
{{i_muser.name}}
{% if i_muser.pdeleted %}
&nbsp;
<b>DELETED</b>
{% endif %}
{% endcomment %}

<b>{{username}}</b><br>

{% for i_mcomment in comments %}
  <b>*</b>
  &nbsp;
  {{i_mcomment.rsubreddit_name_prefixed}} :
  {{i_mcomment.rbody}}

  <br>
{% endfor %}