{% comment %}
{% if i_mcomment.rbanned_by %}
<b>BANNED</b>
&nbsp;
{% endif %}

[<a href="https://www.reddit.com/{{i_mcomment.rsubreddit_name_prefixed}}/comments/{{i_mcomment.thread|slice:"3:"}}//{{i_mcomment.rparent_id}}/">parent</a>]
{% endcomment %}

<b>{{username}}</b><br>
{% for i_mcomment in comments %}
  <b>{{i_mcomment.rsubreddit_name_prefixed}}:</b>
  <!-- https://www.reddit.com/r/politics/comments/6fkyym//dij0k06/      THREAD IN CONTEXT, note double // -->
  [<a href="https://www.reddit.com/{{i_mcomment.rsubreddit_name_prefixed}}/comments/{{i_mcomment.thread|slice:"3:"}}//{{i_mcomment.rid}}/">context</a>]
  &nbsp;
  {{i_mcomment.rbody}}
  <br>
{% endfor %}


