{% comment %}
{% endcomment %}

<table style="width:100%">
 <tr>
   <th>Links</th>
   <th>Results</th>
 </tr>
 <tr>
   <td>
     {% for i_msubreddit in subreddits %}
         [<a href="https://www.reddit.com/r/{{i_msubreddit.name}}">new</a>]
         [<a href="http://localhost:8000/reddit/vanalysis/moderatorsOfSubreddit/{{i_msubreddit.name}}">+ mods</a>]
         [<a href="http://localhost:8000/reddit/vanalysis/poiUsersOfSubreddit/{{i_msubreddit.name}}/200">+ poi</a>]
         [<a href="http://localhost:8000/reddit/vthread/list/{{i_msubreddit.name}}">threads</a>]
         &nbsp;
         {{i_msubreddit.pthreadupdatetimestamp|date:'m/d H:i'}}
         &nbsp;#NoChngs:
         {{i_msubreddit.pupdateswithnochanges}},
         &nbsp;Pri:
         {{i_msubreddit.pprioritylevel}},
         &nbsp;New:
         {{i_msubreddit.pcountnew}},
         &nbsp;
         {{i_msubreddit.name}}
         <br>
     {% endfor %}
   </td>
   <td>{{rightCol}}</td>
 </tr>
</table>
